@CHARSET "UTF-8";
table.product-list tr:nth-child(even) {
	background: #CCC;
}

table.product-list tr:nth-child(odd) {
	background: #FFF;
}

#wireframe {
	width: 810px;
	border: 1px #DDD solid;
}

#foo-link {
	width: 100%;
	text-align: right;
}

.tools form {
	display: inline;
}

.carousel {
	width: 60px;
	height: 60px;
	display: inline;
	padding-right: 10px;
}

#foo-link a:visited,
#foo-link a:active,
#foo-link a:hover {
	color: #00A;
}