@CHARSET "UTF-8";
table.product-list tr:nth-child(even) {
	background: #CCC;
}

table.product-list tr:nth-child(odd) {
	background: #FFF;
}

#wireframe {
	width: 810px;
}

#foo-link {
	width: 100%;
	text-align: right;
}

.tools form {
	display: inline;
}

.carousel {
	width: 80px;
	height: 80px;
}