@CHARSET "UTF-8";
table.product-list tr:nth-child(1) {
	background: #66D;
}

table.product-list tr:nth-child(even) {
	background: #CCC;
}

table.product-list tr:nth-child(odd) {
	background: #FFF;
}
body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: small;
}

#wireframe {
	width: 794px;
	//border: 1px #DDD solid;
}

#title {
	font-size: x-large;
	font-weight: 500;
	margin-bottom: 20px;
}

#image {
	text-align: center;
	margin-bottom: 20px;
}

#description {
	margin-bottom: 20px;
	font-size: small;
}

#slider {
	border: 1px #66D solid;
	margin-bottom: 20px;
	padding: 10px;
}

#foo-link {
	width: 100%;
	text-align: right;
}

.tools a {
	display: inline;
	text-decoration: none;
}

#prev, #next, #item-list {
	display: inline-block;
	height: 60px;
}

#next:hover, #prev:hover {
	background: #BBF;
}

.carousel, .selected {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 10px;
}

.arrow {
	height: 60px;
}

#foo-link a,
#foo-link a:visited,
#foo-link a:active,
#foo-link a:hover {
	color: #66D;
}

input {
	border: 1px solid #66D;
	padding: 3px;
	background: #fff;
}

table {
	font-size: small;
}

table td {
	padding: 5px;
}